.all-jobs{
    padding: 30px 0
}
.all-jobs-search-section{
    margin-bottom: 30px;
}
.all-jobs-search-section .search-content {
    text-align: center;
    margin: 0 auto;
    width: 60%;
}
.all-jobs-search-section .search-content form {
    display: flex;
    align-items: center;
    gap: 25px;
}
.all-jobs-search-section .search-content form div {
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid #80808057;
    padding: 0 10px;
    border-radius: 5px;
    position: relative;
}
.all-jobs-search-section .search-content form div svg {
    color: #3498DB;

}
.all-jobs-search-section .search-content form div::after {
    content: '';
    position: absolute;
    background-color: #e9e9e9;
    top: 13px;
    left: 36px;
    width: 1px;
    height: 17px;
}
.all-jobs-search-section .search-content form div input {
    width: 277px;
    height: 40px;
    border: none;
    outline: none;
    font-size: 15px;
}
.all-jobs-search-section .search-content form input[type=submit] {
    height: 40px;
    border: none;
    background: #3498DB;
    color: #fff;
    width: 110px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}
.all-jobs-search-section .search-content form input[type=submit]:hover{
    background-color: #2980B9;
}
.all-jobs-main {
    border-top: 1px solid #80808057;
    padding-top: 25px;
}
.all-jobs-content {
    display: grid;
    grid-template-columns: 35% 65%;
    /* gap: 30px; */
}
.all-jobs-container {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.show-all-jobs{}
.show-all-jobs button {
    background: #111;
    color: #fff;
    margin-top: 25px;
    width: 94%;
    cursor: pointer;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #80808057;
    font-size: 17px;
    font-weight: bold;
    transition: .3s;
}
.show-all-jobs button:hover{
    background-color: #2ECC71;
}
.show-all-jobs .jobs-reached-end-message {
    margin-top: 25px;
    width: 86%;
    background: #FFF5F5;
    padding: 20px;
    border: 1px solid #8b000040;
    border-radius: 5px;
}
.show-all-jobs .jobs-reached-end-message p {
    text-align: center;
    color: darkred;
}
/* CSS on click, has to be fixed */
.clicked-job{
    border-bottom: 7px solid #3a3a3a41!important;
    box-shadow: 0px 0px 10px #3a3a3a1c!important;
}
.all-jobs-container .single-job {
    border-radius: 10px;
    padding: 15px 20px;
    box-shadow: 0px 0px 1px #3a3a3a;
    border-bottom: 7px solid transparent;
    position: relative;
    
}
.all-jobs-container .single-job:hover {
    border-bottom: 7px solid #3a3a3a1f;
    box-shadow: 0px 0px 10px #3a3a3a1c;
}
.single-job-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.single-job-header svg {
    font-size: 8px;
    color: #061421;
    z-index: 111;
    cursor: pointer;
    width: 18px;
    height: 18px;
    background: #2ecc7130;
    padding: 4px;
    border-radius: 50px;
    transition: .3s ease-in-out;
}
.single-job-header svg:hover{
    color: #fff;
    background-color: #2ECC71;
}
.single-job-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.single-job-bottom .posting-date{
    
}
.all-jobs-container .single-job h2 {
    font-size: 18px;
    margin-bottom: 5px;
    color: #061421;
}
.all-jobs-container .single-job h3 {
    font-size: 15px;
    color: #2f2f2fc9;
}
.all-jobs-container .single-job p {
    color: #2f2f2fd6;
    margin-top: 7px;
    line-height: 1.3;
}
.single-job-salary {
    font-weight: bold;
    background: #d9ecf8ca;
    display: inline-block;
    padding: 2px 10px;
    border-radius: 4px;
}
.single-job-salary{}
.single-job-salary span{
    font-weight: 500;
}
.all-jobs-container .single-job p span{
    
}
/* .all-jobs-container .single-job a {
    text-decoration: none;
    color: #fff;
    margin-top: 15px;
    background: #2ECC71;
    border: none;
    width: 100%;
    height: 40px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    text-align: center;
    line-height: 40px;
    transition: .3s;
} */
.all-jobs-container .single-job a {
    text-decoration: none;
    color: transparent;
    margin-top: 15px;
    background: transparent;
    border: transparent;
    width: 100%;
    height: 40px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    text-align: center;
    line-height: 40px;
    transition: .3s;
    position: absolute;
    width: 100%;
    height: 102%;
    top: -15px;
    left: 0;
}
.all-jobs-container .single-job a:hover{
    /* background: #00A264; */
}


.default-job-details{
    text-align: center;
}
.default-job-none{
    display: none;
}
.default-job-details-img{}
.default-job-details-img img {
    max-width: 55%;
}
.default-job-details-text{
    margin-top: 20px;
}
.default-job-details-text h2 {
    color: #212121;
    font-size: 27px;
    margin-bottom: 20px;
}
.default-job-details-text p {
    width: 70%;
    margin: 0 auto;
    font-size: 17px;
    color: #212121;
    margin-bottom: 25px;
    line-height: 1.4;
}
.default-job-details-text .default-job-details-subscribe {
    width: 200px;
    height: 45px;
    border-radius: 5px;
    background: #2ECC71;
    font-weight: bold;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    transition: .3s;
    display: flex;
    text-align: center;
    align-items: center;
    gap: 6px;
    justify-content: center;
    margin: 0 auto;
}
.default-job-details-text .default-job-details-subscribe svg {
    font-size: 18px;
    
}
.default-job-details-text .default-job-details-subscribe:hover{
    background-color: #28b060;
    
}

.scroll-container{
/* 
    height: 50%;
 
    max-height: 50%;
    overflow-y: scroll; 



    border: 1px solid #ccc;  */
}