@media screen and (max-width: 1368px) {

    /* Home Page */
    .main-header {
        /* display: none; */
        padding: 0 20px;
    }

    .web-header .header-menu {
        gap: 65px !important;
    }

    .working-process-section {
        display: none;
    }

    .container {
        max-width: 100% !important;
        padding: 0 20px;
    }

    .home-banner-content {
        gap: 30px !important;
        flex-direction: column;
    }

    .banner-titles {
        width: 100%;
        text-align: center;
    }

    .banner-image {
        width: 65%;
        text-align: center;
    }

    .banner-image img {}

    .banner-data {
        justify-content: center !important;
        gap: 60px !important;
        text-align: left;
    }

    .home-banner-buttons {
        width: 100% !important;
        justify-content: center !important;
        gap: 20px;
    }

    .featured-jobs-items {
        grid-template-columns: auto auto !important;
    }

    .whyus-content {
        flex-direction: column;
    }

    .whyus-content .whyus-images div img {
        width: unset;
    }

    .resume-help-contents {
        display: flex !important;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    .main-footer-items {
        grid-template-columns: auto !important;
        text-align: center;
    }

    .about-footer-item .social-media-footer {
        justify-content: center;
    }

    .footer-item h2 {
        display: inline-block;
    }

    .footer-item h2::after {
        width: 100% !important;
    }


    /* Find Jobs  */
    .all-jobs-content {
        grid-template-columns: 45% 50% !important;
        gap: 15px !important;
    }

    .all-jobs-container {
        width: 100% !important;
    }

    .all-jobs-search-section .search-content form {
        /* flex-direction: column; */
    }

    .show-all-jobs button {
        width: 100% !important;

    }

    .all-jobs-search-section .search-content {
        width: 100% !important;
    }

    .all-jobs-search-section .search-content form {
        justify-content: center !important;
    }

    .all-jobs-search-section .search-content form div input {
        width: 220px !important;
    }


    /* Companies */
    .companies-content .companies-tabs {
        display: flex !important;
        flex-direction: column !important;
        gap: 30px !important;
    }

    .companies-content .companies-tabs .companies-tablist {
        position: unset !important;
        height: 150px !important;
    }

    .companies-content .companies-tabs .companies-tablist li {
        margin-bottom: 0 !important;
        padding: 10px !important;
    }

    /* Login */
    .account-form {
        width: 85% !important;
        padding: 20px 15px !important;
    }

    /* Signup */
    .account-form-register form {
        flex-direction: column !important;
    }
    .account-form form .account-info-register{
        width: 100%!important;
    }

    .account-input-register {
        max-width: 97% !important;
    }


    /* Job Details */
    .job-details {
        display: none !important;
    }

    .job-details-res {
        display: block !important;
        position: unset !important;
        height: unset !important;
        border-radius: unset !important;
        border: unset !important;
        width: unset !important;
    }

    .job-details-res-buttons {
        margin-top: 40px;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        width: 260px;
        margin: 0 auto;
    }
    .job-details-res-buttons .res-btn{
        height: 50px;
        width: 100%;
        font-size: 16px;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding: 0 10px;
        gap: 10px;
    }
    .job-details-res-buttons a{
        text-decoration: none;
        
    }
    .job-details-res-buttons a .apply-btn {
        background: #2ECC71;
        color: #fff;
    }
    .job-details-res-buttons .apply-btn svg{
        font-size: 20px;
    }
    .job-details-res-buttons .bookmark-btn {
        background: #dbdbdb9c;
        color: #2f2f2f;
    }
    .job-details-res-buttons .bookmark-btn svg{
        font-size: 20px;
    }
    .job-details-res-button a .more-jobs-btn{
        background: #dbdbdb9c;
        color: #2f2f2f;
    }
    .job-details-res-buttons .more-jobs-btn svg{
        font-size: 20px;
    }
    .apply-alert{
        font-size: 15px!important;
    }
    .all-jobs-content {
        grid-template-columns: unset !important;
    }
    .job-details-header-res-goback{
        margin-bottom: 15px;
    }
    .job-details-header-res-goback svg {
        font-size: 20px;
        color: #2f2f2f;
    }
}

@media screen and (max-width: 896px) {

    /* Home Page */
    .main-header {}
    
    .mobile-menu-icon {
        display: flex !important;
        align-items: center;
        gap: 20px;
    }
    
    .mobile-menu-icon .mobile-login-btn {
        text-decoration: none;
    }

    .mobile-menu-icon .mobile-login-btn button {
        background: #3498db;
        border: none;
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 17px;
        padding: 7px 12px;
        border-radius: 5px;
        color: #fff;
        font-weight: bold;
    }

    .mobile-menu-icon .mobile-login-btn button svg {
        color: #fff;
    }
    .menu-close-open {
        position: relative;
        top: 3px;
    }
    .mobile-menu-icon svg {
        font-size: 25px;
        color: #666666;
    }
    .loggedin-user-container {
        gap: 15px!important;

    }
    .loggedin-user-container svg:hover {
        box-shadow: unset!important;
    }
    .loggedin-user-container .user-profile-icon {
        right: -60px!important;
        width: 100vw!important;
        height: 100vh;
        position: absolute!important;
        display: flex;
        flex-direction: column;
        gap: 20px!important;
        box-shadow: unset!important;
    }
    .user-profile-icon-header {
    }
    .loggedin-user-options {
        display: flex;
        flex-direction: column;
    }
    .loggedin-user-options a {
        display: flex;
        align-items: center;
        gap: 15px;
        color: #1e1e1e;
        text-decoration: none;
        font-size: 18px;
        border-top: 1px solid #80808057;
        padding: 15px 20px;
        line-height: 26px;
    }
    .loggedin-user-options a svg{}
    .signout-btn {
        border-top: 1px solid #80808057!important;
        border-bottom: 1px solid #80808057!important;
        height: 65px!important;
        font-size: 17px!important;
        position: relative;
        top: -18px;
    }


    .hide-profile-menu{
        position: absolute;
        right: 0;
        max-width: 0;
        opacity: 0;
        overflow: hidden;
        transition: max-width .2s, opacity .3s;
    }
    .show-profile-menu{
        position: absolute;
        right: 0;
        opacity: 1;
        transition: max-width .2s, opacity .3s;
    }


    .web-header {
        display: block !important;
    }
    /* .web-header .header-menu {
        flex-direction: column !important;
        background: #2ecc71;
        padding: 30px 0;
        position: absolute;
        width: 90%;
        margin-top: 25px;
        border-radius: 2px;
    } */

    .web-header .header-menu {
        flex-direction: column !important;
        background: #ffffff;
        padding: 30px 0;
        width: 100%;
        margin-top: 16px !important;
        border-radius: 2px;
    }

    .web-header .hide-header-menu {
        position: absolute;
        right: 0;
        max-width: 0;
        opacity: 0;
        overflow: hidden;
        transition: max-width .1s, opacity .1s;
    }
    
    .web-header .show-header-menu {
        position: absolute;
        right: 0;
        max-width: 100%;
        opacity: 1;
        transition: max-width .2s ease-out, opacity .2s;
    }
    

    .web-header .header-menu ul {
        flex-direction: column !important;
        width: 100%;
    }

    .web-header .header-menu ul li {
        background: unset;
        border-bottom: 1px solid gray;
        padding: 5px 15px;
        margin: 0 0;
        border-radius: 3px;
    }

    .web-header .header-menu ul li a {
        font-weight: bold;
    }

    .web-header .header-menu .main-menu {
        height: 100vh !important;
        width: 100%;
        line-height: 30px !important;

    }

    .web-header .header-menu .main-menu li {
        background: unset;
        border-bottom: 1px solid gray;
        padding: 5px 15px;
        margin: 0 0;
        border-radius: 2px;
    }

    .web-header .header-menu .main-menu li a {
        color: #141414;
        padding-bottom: 15px;
        height: unset!important;
    }

    .web-header .header-menu ul li a.active {
        color: #000000 !important;
    }

    .web-header .header-menu {
        gap: 80px !important;
    }

    .web-header .header-menu .main-menu::after {
        display: none;
    }

    .web-header .header-menu .account-menu {
        /* flex-direction: column-reverse!important; */
        display: none !important;
    }

    .register-btn,
    .login-btn {
        background: unset !important;
        border: unset !important;
        color: #141414 !important;
        display: unset !important;
        width: unset !important;
        height: unset !important;
        line-height: unset !important;
        text-align: unset !important;
        border-radius: unset !important;
        /* font-size: unset!important; */
        /* font-weight: unset!important; */
    }

    .login-btn {
        color: #141414 !important;
    }

    .section-header::after {
        left: 35% !important;
        width: 30% !important;
    }

    .section-header p {
        width: 100% !important;
    }

    .featured-jobs-items {
        grid-template-columns: auto !important;
        gap: 20px;
    }

    .banner-image {
        width: 100%;
    }

    .banner-data {
        display: grid !important;
        grid-template-columns: auto auto !important;
    }
    .featured-company-content-items {
        grid-template-columns: auto!important;
    }

    .whyus-content .whyus-texts {
        text-align: center;
    }


    /* User Loggedin Home */
    .user-home-content {
        display: flex!important;
        flex-direction: column!important;
    }
    .user-home-content .res-first-div{
        order: -1;
        margin-bottom: 50px;
    }
    .user-home-content .res-second-div{
        margin-bottom: 50px;
    }


    /* Find Jobs */



    /* Register */
    .account-input-register {
        width: 95% !important;
        /* padding: 0 0 0 15px!important; */
    }

    .account-input-register svg {
        /* margin-right: 5px!important; */
    }



    /* Job Details */
    


}

@media screen and (max-width: 728px) {

    /* Home Page */
    .whyus-content .whyus-images div {
        display: none !important;
    }

    .whyus-content .whyus-images img {
        width: 400px !important;
        height: 450px !important;
    }

    .home-banner-buttons .banner-btn {
        width: 160px !important;
    }

    .whyus-content .whyus-texts {
        width: 100% !important;
    }

    .whyus-content .whyus-text-cont {
        grid-template-columns: 250px 250px !important;
        gap: 25px 0 !important;
    }

    .whyus-content .whyus-text-cont div img {
        width: 15px !important;
    }

    .whyus-content .whyus-text-cont div h4 {
        font-size: 17px !important;
    }

    .whyus-content .whyus-text-cont::before {
        width: 0 !important;
        height: 0 !important;
    }

    .whyus-content .whyus-text-cont::after {
        width: 0 !important;
        height: 0 !important;
    }

    .resume-help-contents .resume-help-image-item img {
        display: none;
    }

    /* Find Jobs */
    .all-jobs-search-section .search-content form {
        flex-direction: column !important;
    }

    .all-jobs-search-section .search-content form div {
        width: 98% !important;
    }

    .all-jobs-search-section .search-content form div input {
        width: 450px !important;
    }

    .all-jobs-search-section .search-content form input[type=submit] {
        width: 100% !important;

    }

    

    /* Companies */
    .companies-content .companies-tabs .companies-tabs-content {
        grid-template-columns: auto !important;
    }

    .company-item .company-item-content .company-item-content-main .main-items a h3 {
        margin-top: 5px;
    }

    .company-item .company-item-content .company-item-content-main .main-items {
        gap: 5px !important;
        align-items: flex-start !important;
        flex-direction: column !important;
    }

    /* Login */

}

@media screen and (max-width: 496px) {

    /* Home Page */
    .banner-titles h1 {
        font-size: 32px !important;
    }

    .banner-data {
        gap: 40px !important;
        margin-left: 7px !important;
    }

    .whyus-content .whyus-text-cont {
        grid-template-columns: 170px 170px !important;
    }

    /* Register */
    .account-input-register {
        width: 90% !important;
    }

    .register-to-login span::before {

        left: -105px !important;
        width: 100px !important;
    }

    .terms-conditions div label {
        font-size: 16px !important;
    }

    .register-to-login span::after {

        right: -105px !important;
        width: 100px !important;
    }

    .social-login {
        flex-direction: column !important;
        gap: 15px !important;
    }
}