.working-process-section{
    padding: 100px 0;
}
.working-process-content{}
.working-process-header h2 span{
    color: #3498DB;
}
.working-process-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.working-process-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #3498db30;
    width: 218px;
    height: 218px;
    text-align: center;
    padding: 20px;
    border-radius: 50%;
    position: relative;
    border: 1px solid transparent;
    transition: .3s ease-in-out;
}
.working-process-item:hover{
    border: 1px solid #3498DB;
}
.working-process-item::after {
    content: url('https://demo-egenslab.b-cdn.net/html/jobes/preview/assets/images/icon/work-up-arrow.svg');
    position: absolute;
    top: -15px;
    left: -5px;
}
.working-process-item-two, .working-process-item-four{
    position: relative;
}
.working-process-item-two::after {
    content: url('https://demo-egenslab.b-cdn.net/html/jobes/preview/assets/images/icon/work-down-arrow.svg');
    position: absolute;
    top: 181px;
    left: -6px;
}
.working-process-item-four::after {
    content: url('https://demo-egenslab.b-cdn.net/html/jobes/preview/assets/images/icon/work-down-arrow.svg');
    position: absolute;
    top: 181px;
    left: -6px;
}

.working-process-item img{}
.working-process-item h2 {
    font-size: 18px;
    margin: 10px 0;
    color: #061421;
}
.working-process-item p {
    font-size: 17px;
    line-height: 1.2em;
    color: #595959;
}